$murder-red: #FF1D25;
$blue: #3FA9F5;

.logo {
  max-width: 250px;
  width: 250px;
}

.logo img {
  max-width: 250px;
}

.fa-layers.fa-fw {
  font-size: 3rem;
}

footer {
  background: black;
  p, a {
    text-align: center;
    color: white;
  }
  position: relative;
  bottom: 0;
}