@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap%27');


@import "partials/setup";
@import "partials/variables";
@import "partials/header-footer";
@import "partials/genre-links";
@import "partials/search";
@import "partials/typography";
@import "partials/user-reading-list-page";

body {
  background-color: papayawhip;
}

li {
  list-style: none;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}
.scrollTopBtn {
  position: fixed;
  display: block;
  bottom: 40px;
  right: 40px;
  border: none;
  background: none;
  font-size: 3rem;
}

// I hope this worked