@import "partials/setup";
@import "partials/variables";
@import "partials/header-footer";
@import "partials/genre-links";
@import "partials/search";
@import "partials/typography";
@import "partials/user-reading-list-page";
@import "partials/genre-pages";
@import "partials/utilities";
@import "partials/book-details";


$murder-red: #FF1D25;
$blue: #3FA9F5;
$charcoal: #222121;

body {
  background-color: white;
}

li {
  list-style: none;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.scrollTopBtn {
  position: fixed;
  display: block;
  bottom: 40px;
  right: 40px;
  border: none;
  background: none;
  font-size: 3rem;
  color: $murder-red;
}





@import "partials/media-queries";