@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  max-width: 250px;
  width: 250px;
}

.logo img {
  max-width: 250px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 40px 0;
}
header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.readingListLink a {
  font-size: 0.85rem;
  font-weight: 600;
}

.homepageQuote {
  font-style: italic;
  position: relative;
}
.homepageQuote::before {
  content: "“";
  font-family: serif;
  display: inline-block;
  position: absolute;
  left: -20px;
  font-size: 40px;
  top: -10px;
}
.homepageQuote::after {
  content: "”";
  font-family: serif;
  display: inline-block;
  position: absolute;
  font-size: 40px;
  bottom: -20px;
}

.fa-layers.fa-fw {
  font-size: 2rem;
  color: #3FA9F5;
}
.fa-layers.fa-fw span {
  background-color: #FF1D25;
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
}

footer {
  background: #222121;
  bottom: 0;
  width: 100%;
  left: 0;
  font-size: 0.9rem;
  padding: 30px 0;
}
footer a:hover, footer a:focus {
  color: #FF1D25;
}

ul.genreLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 0;
  margin-bottom: 80px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
ul.genreLinks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 4);
}
ul.genreLinks li span h3:hover, ul.genreLinks li span h3:focus {
  color: #3FA9F5;
}
ul.genreLinks li h3 {
  text-align: center;
  font-size: 1.3rem;
}
ul.genreLinks li h3:hover, ul.genreLinks li h3:focus {
  color: #FF1D25;
}
ul.genreLinks li img {
  max-width: 100%;
  margin: 0 auto;
}

.searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  padding: 30px 0 40px 0;
}
.searchContainer form {
  text-align: center;
}
.searchContainer form label {
  display: block;
  font-size: 1rem;
}
.searchContainer form p {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 15px;
}
.searchContainer form button {
  border: 1px solid #FF1D25;
  background-color: #FF1D25;
  padding: 8px 10px;
  color: white;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.searchContainer form button:hover, .searchContainer form button:focus {
  background-color: #3FA9F5;
  border: 1px solid #3FA9F5;
}
.searchContainer form input {
  padding: 5px 10px;
  border: 1px solid black;
  font-size: 1rem;
}

.listBooksDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}
.listBooksDiv div {
  width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
}
.listBooksDiv li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listBooksImg {
  width: 175px;
  height: 200px;
  margin: 50px auto;
}

.listBooksTitle {
  height: 100px;
  font-size: 20px;
  margin-top: 10px;
}

.listBooksAuthor {
  font-size: 18px;
  margin: 5px;
  height: 40px;
}

.listBooksRating {
  font-size: 18px;
}

a.previewDetailLink,
p.previewDetailLink {
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: underline;
  color: #3FA9F5;
  margin: 10px 0;
}
a.previewDetailLink:hover, a.previewDetailLink:focus,
p.previewDetailLink:hover,
p.previewDetailLink:focus {
  color: #0c8eeb;
}

.errorNoResults {
  text-align: center;
  color: #FF1D25;
  border: 2px solid black;
  font-weight: 600;
}

.paginationButtons {
  text-align: center;
}

body, html {
  font-size: 125%;
}

h1, h2, h3, label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.banner h1,
.banner p {
  text-align: center;
}
.banner h1 {
  font-size: 2rem;
}
.banner p {
  font-size: 0.9rem;
  max-width: 75%;
  margin: 20px auto 30px auto;
}

p, a, button, input {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}
a:hover, a:focus {
  color: #3FA9F5;
}

footer a, footer p {
  color: white;
  text-align: center;
}

.progressBarButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.progressBarButton button {
  margin: 8px;
  border: 1px solid #FF1D25;
  background-color: #FF1D25;
  padding: 10px 20px;
  color: white;
}
.progressBarButton button:hover, .progressBarButton button:focus {
  background-color: #3FA9F5;
  border: 1px solid #3FA9F5;
}

.progressBarButton .scrollTopBtn {
  position: fixed;
  display: block;
  bottom: 40px;
  right: 40px;
  border: none;
  background: none;
  font-size: 3rem;
  color: #FF1D25;
  padding: 1px 4px;
  margin: 0;
}
.progressBarButton .scrollTopBtn:hover, .progressBarButton .scrollTopBtn:focus {
  background-color: transparent;
  border: none;
}

.unreadList {
  width: 25%;
}

.readingList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(24% - 20px);
  margin: 10px;
}
.readingList li {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.readingList img {
  margin-bottom: 10px;
}
.readingList h2 {
  font-size: 1.2rem;
}
.readingList h3 {
  font-size: 1.1rem;
}

.readBook img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.readBook h2,
.readBook h3 {
  color: gray;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.genreBooks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 10px 60px 10px;
  text-align: center;
}
.genreBooks li {
  width: calc(100% / 5 - 20px);
  margin: 20px 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.genreBooks li img {
  width: 175px;
  height: 200px;
  margin: 10px;
}
.genreBooks li h2 {
  height: 100px;
  font-size: 20px;
  margin-top: 20px;
}
.genreBooks li h3 {
  font-size: 18px;
  margin: 5px;
  height: 30px;
}
.genreBooks li h4 {
  font-size: 18px;
}
.genreBooks li a, .genreBooks li p {
  margin: 5px;
}

.addButton {
  margin: 2% auto;
  border: 1px solid #3FA9F5;
  background-color: #3FA9F5;
  padding: 10px 20px;
  color: white;
}
.addButton:hover, .addButton:focus {
  background-color: #FF1D25;
  border: 1px solid #FF1D25;
}

.prevBtn,
.nextBtn {
  margin-top: 4%;
  margin-left: 4%;
  border: 1px solid #FF1D25;
  background-color: #FF1D25;
  padding: 10px 20px;
  color: white;
}
.prevBtn:hover, .prevBtn:focus,
.nextBtn:hover,
.nextBtn:focus {
  background-color: #3FA9F5;
  border: 1px solid #3FA9F5;
}

.bookDetails {
  text-align: center;
}
.bookDetails h2, .bookDetails img, .bookDetails h3, .bookDetails h4, .bookDetails h5, .bookDetails p, .bookDetails a {
  margin: 20px;
}

.bookDetailImg {
  width: 175px;
  height: 200px;
}

.addFromBtn {
  margin: 40px auto;
  border: 1px solid #FF1D25;
  background-color: #FF1D25;
  padding: 10px 20px;
  color: white;
  width: 500px;
}
.addFromBtn:hover, .addFromBtn:focus {
  background-color: #3FA9F5;
  border: 1px solid #3FA9F5;
}

.readReview {
  color: #FF1D25;
}

body {
  background-color: white;
}

li {
  list-style: none;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.scrollTopBtn {
  position: fixed;
  display: block;
  bottom: 40px;
  right: 40px;
  border: none;
  background: none;
  font-size: 3rem;
  color: #FF1D25;
}

@media (max-width: 1150px) {
  ul.genreBooks li {
    width: calc(100% / 4 - 20px);
  }
}
@media (max-width: 1050px) {
  .listBooksDiv div {
    width: calc(50% - 20px);
  }

  .readingList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .readingList div {
    width: calc(50% - 20px);
    margin: auto;
  }
}
@media (max-width: 980px) {
  ul.genreLinks li {
    width: calc(100% /2);
  }

  ul.genreBooks li {
    width: calc(100% / 3 - 20px);
  }

  .scrollTopBtn, .progressBarButton .scrollTopBtn {
    font-size: 2rem;
    bottom: 20px;
    right: 20px;
  }
}
@media (max-width: 710px) {
  ul.genreBooks li {
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 680px) {
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header ul .logo {
    margin-bottom: 30px;
  }

  .listBooksDiv div {
    width: calc(80% - 20px);
    margin: auto;
  }

  .searchContainer {
    width: 100%;
  }
  .searchContainer form {
    width: 80%;
  }
  .searchContainer form input {
    width: 100%;
    text-align: center;
  }
  .searchContainer form button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  ul.genreLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  ul.genreLinks li {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .readingList div {
    width: calc(80% - 20px);
    margin: auto;
  }
}
@media (max-width: 465px) {
  ul.genreBooks li {
    width: calc(100% - 20px);
  }
  ul.genreBooks li img {
    height: auto;
    padding: 10px;
  }
  ul.genreBooks li h3 {
    height: 20px;
    padding: 10px;
  }
  ul.genreBooks li h4 {
    padding: 10px;
  }

  .scrollTopBtn, .progressBarButton .scrollTopBtn {
    font-size: 1.75rem;
    bottom: 5px;
    right: 5px;
  }
}