$murder-red: #FF1D25;
$blue: #3FA9F5;

ul.genreLinks {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  margin-bottom: 80px;
  width: 100%;
  flex-wrap: wrap;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
    span h3 {
      &:hover,
      &:focus {
        color: $blue;
      }
    }
    h3 {
      text-align: center;
      font-size: 1.3rem;

      &:hover,
      &:focus {
        color: $murder-red;
      }
    }
    
    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
