@media (max-width: 1150px) {
  ul.genreBooks li {
    width: calc(100% / 4 - 20px);
  }
}

@media (max-width: 1050px) {
  .listBooksDiv {
    margin: 0;
    li {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .imgContainer {
        justify-content: center;
        padding: 10px;
        img {
          width: 150px;
        }
      }
      .textContainer {
        text-align: center;
        width: 100%;
      }
    }
  }
  

  .readingList {
    flex-wrap: wrap;
  }
}

@media (max-width: 980px) {
  ul.genreLinks li {
    width: calc(100% /2)
  }
  ul.genreBooks li {
    width: calc(100% / 3 - 20px);
  }
  .scrollTopBtn, .progressBarButton .scrollTopBtn {
    font-size: 2rem;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 710px) {
  ul.genreBooks li {
    width: calc(100% / 2 - 20px);
  }
  h2 {
    text-align: center;
  }
  .bookDetails {
    flex-direction: column;
    text-align: center;
    .imgContainer {
      width: 95%;
      img {
        width: 30%;
      }
    }
    .textContainer {
      width: 95%;
      text-align: center;
      padding: 10px;
      margin-top: 0;
    }
  }
}

@media (max-width: 680px) {
  header ul {
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 30px;
    }
  }
  .listBooksDiv div {
    width: calc(80% - 20px);
    margin: auto;
  }
  .searchContainer {
    width: 100%;
    form {
      width: 80%;
  
      input {
        width: 100%;
        text-align: center;
      }
      
      button {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }

  ul.genreLinks {
    flex-direction: column;
    margin-bottom: 30px;
    li {
      text-align: center;
      margin-bottom: 50px;
      width: 100%;
    }
  }
  
  .readingList {

    div {
      width: calc(80% - 20px);
      margin: auto;
    }
  }
}

@media (max-width: 465px) {
  ul.genreBooks li {
    width: calc(100% - 20px);
    img {
      height: auto;
      padding: 10px;
    }
    h3 {
      height: 20px;
      padding: 10px;
    }
    h4 {
      padding: 10px;
    }
  }
  .scrollTopBtn, .progressBarButton .scrollTopBtn {
    font-size: 1.75rem;
    bottom: 5px;
    right: 5px;
  }
}