body, html {
    font-size: 125%;
}

h1, h2, h3, label {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.banner {
  h1,
  p {
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
    max-width: 50ch;
    margin: 20px auto 30px auto;
  }

}

p, a, button, input {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    
    &:hover,
    &:focus {
        color: $blue;
    }
}

footer {
    a, p {
    color: white;
    text-align: center;
    }
}