.progressBarButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .scrollTopBtn {
      position: fixed;
      display: block;
      bottom: 40px;
      right: 40px;
      border: none;
      background: none;
      font-size: 3rem;
      color: $murder-red;
    }
}

.progressBarButton button {
    margin: 8px;
    border: 1px solid $murder-red;
    background-color: $murder-red;
    padding: 10px 20px;
    color: white;
        
    &:hover,
    &:focus {
      background-color: $blue;
      border: 1px solid $blue;
    }
}

.unreadList {
    width: 25%;
}
.readingList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: calc(24% - 20px);
  margin: 10px;
  li {
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  img {
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

.readBook {

  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  h2,
  h3 {
    color: gray;
  }

}
