.progressBarButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h2 {
      font-size: 1.5rem;
      padding: 20px;
    }
}

.progressBarButton button {
    margin: 8px;
    border: 1px solid $murder-red;
    background-color: $murder-red;
    padding: 10px 20px;
    color: white;
        
    &:hover,
    &:focus {
      background-color: $blue;
      border: 1px solid $blue;
    }
}

.progressBarButton .scrollTopBtn {
      position: fixed;
      display: block;
      bottom: 40px;
      right: 40px;
      border: none;
      background: none;
      font-size: 3rem;
      color: $murder-red;
      padding: 1px 4px;
      margin: 0;
      &:hover, &:focus {
        background-color: transparent;
        border: none;
      }
}

.readingList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px;
  .unreadList {
    width: calc(100% / 4);
    
  }
  li {
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  img {
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1rem;
    padding: 0;
  }

  h3 {
    font-weight: normal;
    font-size: 0.9rem;
    padding: 5px;
  }

  button {
    border-radius: 8px;
  }
}

.readBook {

  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  h2,
  h3 {
    color: gray;
  }

  button {
    background-color: gray;
    border: gray;
    &:hover, &:focus {
      background-color: darken(gray, 12);
      border: gray;
    }
  }

}
