.addButton{
    margin: 2% auto;
    border: 1px solid $blue;
    background-color: $blue;
    padding: 10px 20px;
    color: white;
        
    &:hover,
    &:focus {
      background-color: darken($blue, 12);
    }
}

.prevBtn,
.nextBtn{
    margin: 0 auto;
    border: 1px solid $murder-red;
    background-color: $murder-red;
    padding: 10px 20px;
    color: white;
    display: flex;
    &:hover,
    &:focus {
      background-color: darken($murder-red, 12);
    }
}





