.addButton{
    margin: 2% auto;
    border: 1px solid $blue;
    background-color: $blue;
    padding: 10px 20px;
    color: white;
        
    &:hover,
    &:focus {
      background-color: $murder-red;
      border: 1px solid $murder-red;
    }
}

.prevBtn,
.nextBtn{
    margin-top: 4%;
    margin-left: 4%;
    border: 1px solid $murder-red;
    background-color: $murder-red;
    padding: 10px 20px;
    color: white;
        
    &:hover,
    &:focus {
      background-color: $blue;
      border: 1px solid $blue;
    }
}




